@use "/src/styles/variables" as *;
@use "/src/styles/mixins" as *;

.arrow {
  flex-shrink: 0;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid color(gray, border);
  background: color(white);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s ease;
  z-index: 1;

  @include responsive($breakpoint: small) {
    width: 32px;
    height: 32px;
  }

  svg {
    width: 18px;
    height: 18px;
    color: color(gray, dark);
  }

  &:hover {
    background-color: color(gray, "background");
  }
}
