@use "variables" as *;

@mixin flexbox($justify: start, $align: start, $direction: row, $gap: 0px) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
  gap: $gap;
}

@mixin font-style($family, $weight: "regular") {
  font-family: font-family($family);

  $weights: (
    "light": 300,
    "regular": 400,
    "medium": 500,
    "semiBold": 600,
    "bold": 700,
    "black": 900,
  );

  font-weight: map-get($weights, $weight);
}

@mixin gridcolumns(
  $gap: "auto",
  $minwidth: "auto",
  $justify: start,
  $maxwidth: 1fr,
  $maxcolumns: auto-fit
) {
  display: grid;
  grid-template-columns: repeat($maxcolumns, minmax($minwidth, $maxwidth));
  gap: $gap;
  justify-content: $justify;
  width: 100%;
  margin: 0 auto;
}

@mixin responsive($breakpoint: auto, $custom: "") {
  @if $custom != "" {
    @media (max-width: $custom) {
      @content;
    }
  } @else if $breakpoint == small {
    @media (max-width: 600px) {
      @content;
    }
  } @else if $breakpoint == medium {
    @media (max-width: 900px) {
      @content;
    }
  } @else if $breakpoint == large {
    @media (max-width: 1200px) {
      @content;
    }
  }
}
