@use "/src/styles/variables" as *;
@use "/src/styles/mixins" as *;

.carousel {
  padding: 70px 5rem;
  display: flex;
  flex-direction: column;
  gap: spacing("xl");
  overflow: hidden;

  &__title {
    text-align: center;
    font-size: font-size("xxxxlarge");
    font-weight: 700;
    color: color(blue, base);
    white-space: nowrap;
  }

  &__content {
    display: flex;
    align-items: center;
    gap: 5rem;
  }

  &__divider {
    width: 50%;
    height: 1px;
    background-color: color(gray, border);
  }

  &__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    gap: spacing("sm");
  }

  &__window {
    width: 100%;
    overflow: hidden;
  }

  &__track {
    display: flex;
    gap: 0;
    transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
    will-change: transform;
    padding-top: spacing("sm");
    padding-bottom: spacing("sm");
  }

  &__item {
    flex: 0 0 25%;
    padding: 0 10px;
    box-sizing: border-box;

    @media (max-width: 1024px) {
      flex: 0 0 33.333%;
    }
    @media (max-width: 768px) {
      flex: 0 0 50%;
    }
    @media (max-width: 480px) {
      flex: 0 0 100%;
    }
  }
}
