@use "/src/styles/variables" as *;
@use "/src/styles/mixins" as *;

.category_list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: spacing("xxl") 5rem;
  overflow-x: auto;

  @include responsive($breakpoint: large) {
    padding: spacing("lg") spacing("xl");
    justify-content: flex-start;
    gap: spacing("lg");
  }

  @include responsive($breakpoint: small) {
    padding: spacing("md") spacing("md");
    gap: spacing("md");
  }

  &::-webkit-scrollbar {
    display: none;
  }
}
